@{
    ViewBag.Title = "Blank";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <ol class="breadcrumb pull-right">
                <li><a href="#">Minton</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Blank</li>
            </ol>
            <h4 class="page-title">Blank</h4>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundle/core-app")
}