body {
    margin-bottom: 0;
    min-height: 100vh;
    position: relative;
}

.row {
	text-align:center;
}

.center {
	text-align:center;
}

.navbar {
    min-height: 80px;
}
.navigation{
	float:right !important;
	margin-top:20px !important;
	margin-bottom:10px;
}
.navigation a{
	color:white;
	margin-left: 15px;
}

.footer {
	position: absolute;
	bottom: 0;
    width:100% !important;
    left: 0px !important;
}

.locale-button{
	margin:.2em;
	text-decoration: none !important;
}


.feature-button{
	margin:.2em;
	text-decoration: none !important;
}

.sixty{
	width:60%;
}
.legend{
	display: inline-block;
	float:left;
	width:1.5em;
	height:1.5em;
	margin-left:2.0em;
}
.Pass{
	background-color:#109618;
}
.Fail{
	background-color:#DC3912;
}
.Skip{
	background-color:#2569ff;
}

.drill-down{
	position: relative;
	margin:auto;
	width:20em;
	z-index: 1000 !important;
}

.main-locale-buttons{
	padding-left:15em;
	padding-right:15em;

}

.LinksToResults{
	float:left;
	margin-left:5px;
	font-size: 17px;
}
.button-group{
	position: relative;
	width:95%;
	margin:auto;
}
.table{
	margin-left:20px;
	margin-right:20px;
}
#pieChart{
	width:100%;
	height:350px;
}
.pieChart{
	width:100%;
	height:600px;
	margin-bottom:100px;
}
.myChart{
	margin:auto;
}
.dropdown-menu{
	height:200px;
	overflow:auto;
}
a button {
	color:black;
}

.AtTenPerc{
	width: 10%; 
}
.AtHundPerc{
	width:100%;
}

.double {
  zoom:1.25;
  transform:scale(1.25);
  -ms-transform:scale(1.25);
  -webkit-transform:scale(1.25);
  -o-transform:scale(1.25);
  -moz-transform:scale(1.25);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
.dashboard{
	background-color:#FFC20E;
	border: 1px solid #E5AB01;
}
#runTest{
	background-color:#FFC20E;
	border: 1px solid #E5AB01;
}
@media (min-width: 768px) { 
	.button-group{
		width:500px;
	}
	div#displaySelections{
		text-align:right;
		padding-right:30px;
	}
	div#langSelection{
		text-align:left;
		padding-left:30px;
	}
}