body {
    margin-bottom: 0;
}
.row {
	text-align:center;
}
.navbar {
    min-height: 80px;
}
.navigation{
	float:right;
	margin-top:20px;
	margin-bottom:10px;
}
.navigation a{
	color:white;
	margin-left: 15px;
}
h3{
	text-decoration:underline;
}
.footer {
    height: auto;
    bottom:0;
    width:100% !important;
    left: 0px !important;
}
.slogan-fca {
    margin-top: 30px;
    margin-left: 100px;
    color: #fff;
    font-style: italic;
    font-family:'Roboto slab';
}
button.btn-lg{
	width:100%;
	border: 1px solid #E0E0E0;
}
.sixty{
	width:60%;
}
.legend{
	width:20px;
	height:20px;
	float:left;
	margin-left:10px;
}
.Pass{
	background-color:green;
}
.Fail{
	background-color:#E2453C;
}
.Skip{
	background-color:grey;
}
.LinksToResults{
	float:left;
	margin-left:5px;
	font-size: 17px;
}
.button-group{
	position: relative;
	width:95%;
	margin:auto;
}
.table{
	margin-left:20px;
	margin-right:20px;
}
#pieChart{
	width:100%;
	height:350px;
}
.pieChart{
	width:100%;
	height:600px;
	margin-bottom:100px;
}
.myChart{
	margin:auto;
}
.dropdown-menu{
	height:200px;
	overflow:auto;
}
a button {
	color:black;

}
.btn {

	height:35px; 
	margin:1px; 
	font-size:20px;
	margin-bottom:5px;
}
.AtTenPerc{
	width: 10%; 
}
.AtHundPerc{
	width:100%;
}

.double {
  zoom:1.25;
  transform:scale(1.25);
  -ms-transform:scale(1.25);
  -webkit-transform:scale(1.25);
  -o-transform:scale(1.25);
  -moz-transform:scale(1.25);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
.dashboard{
	background-color:#FFC20E;
	border: 1px solid #E5AB01;
}
#runTest{
	background-color:#FFC20E;
	border: 1px solid #E5AB01;
}
@media (min-width: 768px) { 
	.button-group{
		width:500px;
	}
	div#displaySelections{
		text-align:right;
		padding-right:30px;
	}
	div#langSelection{
		text-align:left;
		padding-left:30px;
	}
}