
@media (min-width: 768px) { 
	.button-group{
		width:500px;
	}
	div#displaySelections{
		text-align:right;
		padding-right:30px;
	}
	div#langSelection{
		text-align:left;
		padding-left:30px;
	}
}

body {
    margin-bottom: 0;
    min-height: 100vh;
    position: relative;
}

.row {
	text-align:center;
}

.center {
	text-align:center;
}

.container-main{

	margin: 0 auto !important;
    width: 90% !important;
}

.navbar {
    min-height: 80px;
}
.navigation{
	float:right !important;
	margin-top:20px !important;
	margin-bottom:10px;
}
.navigation a{
	color:white;
	margin-left: 15px;
}

.footer {
	position: absolute;
	bottom: 0;
    width:100% !important;
    left: 0px !important;
}

.locale-button{
	margin:.2em;
	text-decoration: none !important;
}

.page-number{
	min-width: 5em;
}


.feature-button{
	margin:.2em;
	text-decoration: none !important;
}

.sixty{
	width:60%;
}
.legend{
	display: inline-block;
	float:left;
	width:1.5em;
	height:1.5em;
	margin-left:2.0em;
}
.Pass{
	background-color:#109618;
}
.Fail{
	background-color:#DC3912;
}
.Skip{
	background-color:#2569ff;
}

.drill-down{
	position: relative;
	margin:auto;
	width:20em;
	z-index: 1000 !important;
}

.main-locale-buttons{
	padding-left:15em;
	padding-right:15em;

}

.LinksToResults{
	float:left;
	margin-left:5px;
	font-size: 17px;
}
.button-group{
	position: relative;
	width:95%;
	margin:auto;
}
.table{
	margin-left:20px;
	margin-right:20px;
}
#pieChart{
	width:100%;
	height:350px;
}
.pieChart{
	width:100%;
	height:600px;
	margin-bottom:100px;
}
.myChart{
	margin:auto;
}
.dropdown-menu{
	height:200px;
	overflow:auto;
}
a button {
	color:black;
}

.AtTenPerc{
	width: 10%; 
}
.AtHundPerc{
	width:100%;
}

.btn {

	min-width: 5em;
}

.double {
  zoom:1.25;
  transform:scale(1.25);
  -ms-transform:scale(1.25);
  -webkit-transform:scale(1.25);
  -o-transform:scale(1.25);
  -moz-transform:scale(1.25);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
.dashboard{
	background-color:#FFC20E;
	border: 1px solid #E5AB01;
}
#runTest{
	background-color:#FFC20E;
	border: 1px solid #E5AB01;
}
.loginDiv {
      max-width: 450px;
      min-width: 290px;
      margin: auto;
      padding-bottom: 25px;
      /*border: 2px solid red;*/
}
.loginBtn {
  max-width: 250px;
  margin: auto;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
input[type=checkbox] {
  margin-bottom: 15px;
}
button[type=submit] {
  background-color: #ffc20e;
  border: 1px solid #E4AA00;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 11px 30px;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: normal; /* For multi-line buttons */
  text-align: center;


}
button[type=submit]:hover {
  background-color: #D4AC37;
  color: black;
  text-decoration: none;
}
