<%- include('header') %>

   <!--<h1><%= title %></h1>-->
     
     <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts(){

        //Data for top charts by language
        var Langdata = new google.visualization.DataTable();
        Langdata.addColumn('string', 'Language');
        Langdata.addColumn('number', 'Pass');
        Langdata.addColumn('number', 'Fail');
        Langdata.addColumn('number', 'Skip')
        Langdata.addRows([
          ['en', 3,2,1],
          ['cn', 1,3,2],
          ['de', 1,1,2],
          ['cz', 1,3,2],
          ['zu', 2,1,2]
          ]);
      
        //Creating top Chart - 'All Results by Language (by percent)',
        var optionsByPercent={
          'title':'All Results by Language (by percent)',
          'width':1000,
          'height':300,
          'isStacked':'percent',
          'colors': ['green', 'red', 'gray'],
          'vAxis':{
            'minValue':0,
            'ticks':[0,.3, .6, .9, 1]
          }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('LangPercent'));
        chart.draw(Langdata, optionsByPercent);


        //Creating Second Chart - 'All Results by Language (comparative)',
        var optionsComparative={
          'title':'All Results by Language (comparative)',
          'width':1000,
          'height':300,
          'isStacked':true,
          'colors': ['green', 'red', 'gray'],
        };

        var chart2 = new google.visualization.ColumnChart(document.getElementById('LangComparative'));
        chart2.draw(Langdata, optionsComparative);


        //Data for Pie Chart (ALL results)
        var pieData = new google.visualization.arrayToDataTable([
          ['Test', 'Passed or Failed'],
          ['Passed', 5],
          ['Failed', 8],
          ['Other', 2],
        ]);

        //Creating Pie Chart - 'All Results'
        var pieOptions = {
          'title': 'All Results',
          'titleTextStyle':{fontSize:20, bold:true, color:'grey'},
          'colors': ['green', 'red', 'grey'], 
          'backgroundColor':'', 
          'is3D': true,
          'chartArea':{width:'350', height:'80%'},
          'legend':{textStyle:{fontSize:20}, alignment: 'center', position: 'left'},
          'slices': { 0: {offset:0.0},
                    1: {offset: 0.2},
                    2: {offset: 0.0}}
        };

        var chart3 = new google.visualization.PieChart(document.getElementById('pieChart'));
        chart3.draw(pieData, pieOptions);


        //Data for Results by Feature graphs
        var FeatureData = new google.visualization.arrayToDataTable([
          ['Feature', 'Passed', 'Failed', 'Skipped'],
          ['F1', 3,2,5],
          ['F2', 1,7,5],
          ['F3', 3,2,1],
          ['F14', 3,4,5],
          ['F16', 8,1,5],
          ['F19', 3,2,4]
          ]);


        //Creating SECOND graph by Feature Pages 'All Results by Feature (comparative)',
        var FeatureComparative = {
          'title':'All Results by Feature (comparative)',
          'width':1000,
          'height':300,
          'isStacked':true,
          'colors': ['green', 'red', 'gray']
        };

        var chart4 = new google.visualization.BarChart(document.getElementById('FeatureComparison'));
        chart4.draw(FeatureData, FeatureComparative);


        //Creating FIRST graph by Feature pages - 
        var FeaturePercent = {
          'title':'All Results by Feature (percent)',
          'width':1000,
          'height':300,
          'isStacked':'percent',
          'colors': ['green', 'red', 'gray'],
          'vAxis':{
            'minValue':0,
            'ticks':[0,.3, .6, .9, 1]}
        };

        var chart5 = new google.visualization.BarChart(document.getElementById('FeatureByPercent'));
        chart5.draw(FeatureData, FeaturePercent);


      }


    </script>






    </div><!-- end .col-sm-12 -->
    </div><!-- end .row -->
	<br><br>

  
  <!--Div that will hold the dashboard-->
  <div id="LangPercent"></div>
  <br>
  <div id="LangComparative"></div>
  <br>
  <div id="pieChart"></div>
  <br>
  <div id="selectLang"></div>
  <br>
  <div id="FeatureByPercent"></div>
  <br>
  <div id="FeatureComparison"></div>

  <br>
  <div></div>
  <br><br>


<br><br><br>
</div>
<%- include('footer') %>