<%- include('header') %>

    <!--<h1><%= title %></h1>-->
	<div class="row text-center">
		<div class="col-lg-12">
			<br>
	        <p>Click on the PAGE button to choose from a list of "Feature" pages.</p>
			<p>Next, choose which language locale you wish to test and click Get Results</p>
		</div>
	</div>


	<!-- </div>end .col-sm-12 -->
    <!-- </div>end .row -->

	<div class="row text-center">
     <div class="col-lg-12">
      <div class="button-group width-set">
        <button type="button" id="mybutton" class="btn btn-lg dropdown-toggle  width-set" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">(FX) Page <span class="caret"></span></button>
			<ul class="dropdown-menu  width-set">
			  <li class="dropdown-item "><a href="#"><input id="all" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp; All</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F1" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F1) Home Page</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F2" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F2) Product Table of Contents</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F3" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F3) Product Sub-Category</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F4" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F4) Product Display</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F5" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F5) HTML Page</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F6" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F6)</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F7" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F7) New Fluke Products</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F8" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F8) Promotions and Contests TOC</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F9" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F9) Article Table of Contents</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F10" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F10) Webcard Table of Contents</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F11" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F11) Webcard</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F12" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F12) Fluke News Table of Contents</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F13" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F13) Fluke News Sub-Category</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F14" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F14) Article</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F15" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F15) Tradeshows and Seminars</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F16" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F16) Training Library</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F17" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F17) Webinars</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F18" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F18)</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F19" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F19) Manuals</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F20" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F20) Press Releases</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F21" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F21) Safety Notices</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F22" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F22) Software Downloads</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F23" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F23) Where to Buy</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F24" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F24) Link to Offsite Location</a></li>
			  <li class="dropdown-item "><a href="#"><input id="F25" class="FX double" onclick="displayChecked(this.id)" type="checkbox"/>&nbsp;(F25) Promotions and Contests Page</a></li>
			  
			</ul>
	  </div>
	 </div>
    </div>

	
	<br>
	<div class="row text-center">
     <div class="col-lg-12">
      <div class="button-group">
        <button type="button" class="btn btn-lg dropdown-toggle  width-set" data-toggle="dropdown">Language Locale<span class="caret"></span></button>
			<ul class="dropdown-menu  width-set">
			  <li class="dropdown-item "><a href="#" data-value="optionA" tabIndex="-1"><input id="en" class="lang double " onclick="displayChecked(this.id)" type="checkbox"/>&nbsp; en</a></li>
			</ul>
	  </div>
	 </div>
	</div>
	
	

	<br>
	<div class="row text-center">
     <div class="col-lg-12">
      <div class="button-group">
        <button type="button" class="btn btn-lg dropdown-toggle  width-set" data-toggle="dropdown">Test Dates: <span class="latestDate">_____</span></button>
	  </div>
	 </div>
    </div>

	<br>
	<div class="row text-center">
     <div class="col-lg-12">
      <div class="button-group">
        <button type="button" class="btn btn-lg width-set" id="runTest" onclick="runTest()">Get Results</button>
	  </div>
	 </div>
    </div>

	<br>

	<div class="container">
	<div class="row text-center">
      <div class="col-12">
		<h1>Selection:</h1>

        <div class="col-6" id="displaySelections">
			<h3>Pages</h3>
			<div id="pageChildren"></div>
		</div>

		<div class="col-6" id="langSelection">
			<h3>Languages</h3>
			<div id="langChildren"></div>
		</div>

      </div><!-- end .col-md-12 -->
    </div><!-- end .row -->
    </div>
	
	<div class="progressbar">
	<div class="bar"><span></span></div>
	</div>

</div>
<%- include('footer') %>