<%- include('header') %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <br>
        <H1> <u><%= error %></u></H1>

        <br /><br />

        <object width="150" height="150">
          <param name="movie" value="cylon.swf">
          <embed src="cylon.swf" width="150" height="150">
          </embed>
        </object>

        <br /><br />
        
        <img src="https://imgs.xkcd.com/comics/compiling.png" alt="404" style="margin: 25px" />
        <br>
      </div>
    </div>
  </div>
