<%- include('header') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 offset-xl-4 col-lg-6 offset-lg-3 col-md-7 offset-md-3 col-sm-9 offset-sm-2">
      <br /><br />
      <h1> <u><%= error %></u></h1>
      <br /><br />
      <div class="redeye">
        <embed src="img/bigredeye_3.swf"  height="45px" width="100%" />
      </div>
      <br />
      <img src="https://imgs.xkcd.com/comics/compiling.png" class="img-fluid" alt="404" />
      <br />
    </div><!-- end .col-lg-12 -->
  </div><!-- end .row -->
</div><!-- end .container-fluid -->


<%- include('footer') %>
