<%- include('header') %>
  <h1><%= title %></h1>
  <br>
  <ul id="messages"></ul>
  <script src="socket.io/socket.io.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script>
  $(document).ready(function() {
    var socket = io.connect('http://localhost:3000');
    $(document).ready(function() {
      socket.emit('output', 'connect');
      return false;
    });
    socket.on('output', function(msg) {
      $('#messages').append($('<li>').text(msg));
    });
  });

  </script>
  <%- include('footer') %>s
