<!-- Footer START -->


<footer class="footer">
	 <nav class="navbar navbar-inverse">
		  <div class="container">
			    <ul class="nav navbar-nav" aria-labelledby="sections">
			        <li><a href="http://www.fluke.com/fluke/uken/about/corp/default.htm" target="_blank">Fluke Corporation</a></li>
			        <li><a href="http://www.fluke.com/fluke/uken/home/privacystatement.htm" target="_blank">Privacy Statement</a></li>
			        <li><a href="http://www.fluke.com/fluke/uken/home/Terms-and-Conditions-of-Use.htm" target="_blank">Terms of Use</a></li>
			    </ul>
			    <div class="col-xs-12">
			        <small class="text-muted"><sup>©</sup><script language="JavaScript">document.write(new Date().getFullYear());</script> Fluke Corporation.</small>
			    </div><!-- /.col-sm-12 -->
		  </div>
	 </nav><!-- /.nav -->
</footer> 
<!-- Footer ENDS -->


<!-- BEGIN JavaScript -->

<!-- jQuery library include -->
<!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap library include -->
<script type="text/javascript" src="http://download.fluke.com/eloqua/scripts/bootstrap.min.js"></script>

<!-- Lightbox library include -->
<script type="text/javascript" src="http://download.fluke.com/agile-marketing/js/lightbox.min.js"></script>

<!-- Pass URL variables script -->
<script type="text/javascript" src="http://download.fluke.com/Fluke/eloqua/scripts/passUrlVariables.js"></script>

<!-- <script src="js/bootstrap.js"></script> -->
<script src="js/displayChecked.js"></script>
<script src="/js/pieChart.js"></script>
<script src="/js/runTest.js"></script>
<script src="/js/onLoad.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- END JavaScript -->

</body>
</html>


