
<!-- Footer START -->
<br /><br /><br />

<footer class="footer navbar navbar-dark bg-dark">
	<div class="container">
	  <div class="col-xs-12">
	  </div>
	  <!-- /.col-sm-12 -->
	</div>
</footer>
<!-- Footer ENDS -->


<!-- BEGIN JavaScript -->
<!-- jQuery library include -->

<script src="/js/jquery-3.3.1.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap library include -->
<script src="/js/bootstrap.min.js"></script>

<!-- <script src="http://localhost:3000/js/bootstrap.js"></script> -->
<script src="/js/displayChecked.js"></script>
<script src="/js/exporting.js"></script>
<!--<script src="http://localhost:3000/js/pieChart.js"></script>-->
<script src="/js/runTest.js"></script>
<script src="/js/onLoad.js"></script>
<script src="/js/search.js"></script>
<script> less = { async: true }; </script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js" ></script>

<!-- socket.io for broadcasting events -->
<script src="/socket.io/socket.io.js"></script>

<!-- END JavaScript -->

</body>


</html>
