<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta name="robots" content="noindex, nofollow">
  <meta name="opco" content="IG">
  <title>Quality Testing</title>
  <!--Stylesheet flukestrap include-->
  <link rel="stylesheet" href="http://download.fluke.com/agile-marketing/css/flukestrap-light.css">
  <!-- include bootstrap -->
  <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
  <!--Roboto Slab link-->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <!--Favicon/ shortcut icon-->
  <link rel="SHORTCUT ICON" href="http://www.fluke.com/Fluke_www/images/fluke/web2_0/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="http://www.fluke.com/Fluke_www/images/fluke/web2_0/favicon/favicon.ico">
  <link rel="stylesheet" href="/css/gui.css">
  <!-- Adding jQuery Library for submitting standard web forms with Ajax and JSON -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="stylesheet">
  </script>
</head>

<body onload="uncheckAll()">
  <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="http://www.fluke.com/fluke/uken/home/default.htm" target="_blank">
        <img class="img-responsive" src="http://download.fluke.com/demo-PQ/6006635-pq-selector-2015/images/fluke-logo.svg">
      </a>
      <div class="slogan hidden-xs slogan-fca">
        Keeping your world up and running. <sup>®</sup>
      </div>
      <!-- end .slogan -->
    </div>
    <!-- end .container (nav content) -->
  </nav>
  <!-- end .nav -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <br>
        <h1><%= title %></h1>
