<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Quality Testing</title>
  <!--Stylesheet flukestrap include-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- include bootstrap -->
  <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
  <!--Favicon/ shortcut icon-->
  <link rel="stylesheet" href="/css/gui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- Adding ajax for google chart dashboard -->
</head>

<body onload="uncheckAll()">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">

        <span class="navbar-brand mb-0 h1">Q.A. Automated Testing Suite</span>
      </a>
    <!-- end .slogan -->
    <div class="navigation">
      <a href="/">Home Page</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/export">Excel Reports</a>
      <a href="/test-status">Test Runner</a>
    </div>
  </nav>
  <!-- end .nav -->
  <div class="container-fluid container-main">
    <div class="row">
      <div class="col-12">
        <br>
        <br>
        <h1><%= title %></h1>
      </div>
      <!-- end .col-sm-12 -->
    </div>
    <!-- end .row -->
