<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Quality Testing</title>
  <!--Stylesheet flukestrap include-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- include bootstrap -->
  <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
  <!--Favicon/ shortcut icon-->
  <link rel="stylesheet" href="/css/gui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- Adding ajax for google chart dashboard -->
</head>

<body style="padding-top: 60px;" onload="uncheckAll()">

<!-- begin .nav -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

  <!-- Vault logo -->
  <div class="navbar-brand">
    <img src="/img/v.png" alt="vault" /><span class="logoText">ault</span>
  </div>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" onclick="loadingAnimation()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard" onclick="loadingAnimation()">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/export-tool" onclick="loadingAnimation()">Export Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dropdown-test-runner" onclick="loadingAnimation()">Run Tests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/test-status" onclick="loadingAnimation()">Test Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/test-case-editor" onclick="loadingAnimation()">Test Case Editor</a>
      </li>

      
      <% if(typeof user == 'string' && user){ %>
      <li class="nav-item">
        <a class="nav-link" href="/signup" onclick="loadingAnimation()">Create User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" onclick="loadingAnimation()">Log Out</a>
      <li>

      <% }else{ %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <% } %>

    </ul>
    
  </div>

</nav>
<!-- end .nav -->

<div class="topbar"></div>