<%- include('header') %>
  <div class="row">
    <div class="col-lg-12">

      <h4 class="text-center">View the dashboard to see overall site health.</h4>
      <div class="text-center">
      <a href="/dashboard">
        <button type="button" id="mybutton" class="btn btn-warning"><b>DASHBOARD</b></button>
      </a>
      </div>
    	<br>
      <h4>Example of Overview by Language Page</h4>
      <a href="/result-by-language/cn">Result by Language in cn</a>
      <br>
      <br>
      
      <h4>Example of Results by Feature and Language</h4>
      <a href="/results/f3/cn">Currently set at feature <b>F3</b> and language <b>CN</b> </a>
      <br><br>

      <h4>Example of Overview by query on test description field</h4>
      <a href="/dashboard/custom/H1%20in%20the%20Correct%20Language">Overview on custom query: H1 Language Correct - All locales &amp; Features <br></a>
      <br>
   
      <h4>Example of Test Results by feature, language, and query on test description Field</h4>
      <a href="/results/f3/cn/custom/H1%20in%20the%20Correct%20Language"> Currently set at feature <b>F3</b>, language <b>CN</b> and query: <b>H1 in the correct language.</b></a>
      <br><br>

      <h4>Example of Results by Feature, Language, Test Result <br> and search query on test description field</h4>
      <a href="/results/f3/cn/TestResult/custom/H1%20in%20the%20Correct%20Language">Currently set at feature <b>F3</b>, language <b>CN</b> and query: <b>H1 in the correct language.</b></a>
    </div>
  </div>
  </div>
  </div>
  <br><br>
  <%- include('footer') %>
