<%- include('header') %>

<h1>This is the home page View</h1>

<h3>Example of Overview by Language Page</h3>
<h4><a href="http://localhost:3000/result-by-language/cn">Result by Language in cn</a></h4><h3>Example of Results by Feature/Language</h3>
<h4><a href="http://localhost:3000/results/f2/cn">Drilled down results by feature and language. <br> Currently set at feature <b>F2</b> and language <b>CN</b> </a></h4>


<%- include('footer') %>
