<%- include('header') %>

</div><!-- end .col-sm-12 -->
</div><!-- end .row -->


<br><br>

<div class="col-lg-12 row">
<h3>Example of Overview by Language Page</h3>
<h4><a href="http://localhost:3000/result-by-language/cn">Result by Language in cn</a></h4><h3>Example of Results by Feature/Language</h3>
<h4><a href="http://localhost:3000/results/f2/cn">Drilled down results by feature and language. <br> Currently set at feature <b>F2</b> and language <b>CN</b> </a></h4>
<h3>Example of Overview by Language Page</h3>
<h4><a href="http://localhost:3000/result-by-language/cn">Result by Language in cn</a></h4>
</div>


<div class="col-lg-12 row">
<br>
    <h4>NOTE: Test results do not reflect how important each test is on an individual basis.</h4>
    <h4>Some test results are more crucial than other test results.</h4>
	<br><br>
    <p>View the dashboard to see overall site health.</p>
    <a href="/dashboard"> <button type="button" id="mybutton" class="btn dashboard sixty">DASHBOARD</button></a>
    <br><br><br><br>
  	<p>Export selected results to an excel document housed in a testing team folder.</p>
    <a href="/export"><button type="button" class="btn dashboard sixty">Export Excel Reports</button></a>
    <br><br><br><br>
</div>

</div>
<%- include('footer') %>
