<%- include('header') %>
</div>
</div>
</div>

<br>
<p style="text-align:center">-----------------------------------------------------------------</p>

<div id="cumulativeResults">

    <div class="aResult">
        <div class="row">
          <div class="col-sm-12">

            <div id="pieChart"></div>
            <br>
            <a href="somewhere"><p>More Information (detailed view of all results)</p></a>
            <p>-----------------------------------------------------------------</p>
            <br>
          </div><!-- end .col-sm-12 -->
        </div><!-- end .row -->
    </div>

</div> <!-- end of 'resultsSection'-->


<%- include('footer') %>
