<%- include('header') %>
  <div class="row">
    <div class="col-lg-12 class="form-group">
      <br><br>
        <form id="signup" name="signup" method="post" action="/signup" >
        <label for="email">Email:

        <input class="text" name="email" type="text" size="25"/>

        </label><br>
        <label for="firstname"><h6>Firstname:</h6>
        <input name="firstname" type="text" size="30" />
        </label><br>
        <label for="lastname"><h6>Lastname:</h6>
        <input name="lastname" type="text" size="30" />
        </label><br>
        <label for="password"><h6>Password:</h6>
        <input name="password" type="password" size="30" />
      </label><br>
        <input class="btn btn-primary" type="submit" value="Sign Up" />
    </form>
    </div>
  </div>
  </div>
  </div>
  <br><br>
  <%- include('footer') %>
