<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Quality Testing</title>
  <!--Stylesheet flukestrap include-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- include bootstrap -->
  <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
  <!--Favicon/ shortcut icon-->
  <link rel="stylesheet" href="/css/gui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- Adding ajax for google chart dashboard -->
</head>


<body style="padding-top: 60px;" onload="uncheckAll()">

<div>
  <h2>Hello you can include me anywhere you want.</h2>
</div>