<%- include('header') %>
  </div>
  <!-- end .col-sm-12 -->
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Run Tests:</h3>
      <p>Select Tests to Run.  Results will be pushed to QA folder.  Refresh to see current test statuses.</p>
        <div style="-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; border:1px solid #ccc; width:8px; height:8px; background-color:#00ff00; display: inline-block;"></div> <b>- Running Test </b>

        <div style="-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; border:1px solid #ccc; width:8px; height:8px; background-color:#ff0000; display: inline-block;"></div> <b> - Test No Longer Running</b>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
          <table class="table">
            <tr>
              <th>Scripts</th>
              <th>Status/Progress</th>
              <th>Start/Stop</th>
            </tr>
            <% for(var i=0; i < scripts.length; i++) { %>
              <tr>
              <td><a href="/test-runner/<%= scripts[i] %>"><b><%= scripts[i] %></b> </a></td>
              <td>Halted.</td>
              <td><button>Start</button></td>
              </tr>
            <% } %>
          </table>
    </div>
    <div class="col-4"></div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <%- include('footer') %>
